.divPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 276px;
  position: relative;
}
.imgPreview {
  border-radius: 14px;
  width: 276px;
  height: 268px;
  margin-bottom: 16px;
  display: block;
}
.divTextPreview {
  flex-wrap: nowrap;
  width: 100%;
}
.heartIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}
.h3Preview {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 16px;
  text-align: start;
  display: flex;
  white-space: normal;
  overflow-wrap: break-word;
}
.spanPreview {
  color: #3470ff;
  margin-left: 4px;
}
.spanPreviewP {
  margin-left: auto;
  padding-right: 11px;
}
.pPreview {
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #8d929a;
  margin-bottom: 32px;
}

.buttonPreview {
  padding: 12px 97px;
  font-weight: 600;
  color: #fff;
  border-radius: 12px;
  background-color: #3470ff;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}
.buttonPreview:hover,
.buttonPreview:focus {
  background-color: #0b44cd;
}
