.custom-select__control {
  width: 204px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  background-color: #f7f7f7 !important;
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  padding-left: 12px !important;
  min-height: 48px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #101828 !important;
  line-height: 1.25 !important;
  box-shadow: none !important;
  cursor: pointer !important;
  transition: border-color 0.3s ease !important;
}

.custom-select__control--is-focused {
  border-color: #8d929a !important;
  outline: none !important;
}

.custom-select__control:hover {
  border-color: #8d929a !important;
}

.custom-select__single-value {
  color: #000 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.custom-select__placeholder {
  color: #101828 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  text-align: start !important;
}

.custom-select__option {
  text-align: start !important;
  padding: 14px 28px !important;
  cursor: pointer !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #8d929a !important;
  background-color: transparent !important;
  transition: background-color 0.2s ease !important;
}

.custom-select__option--is-focused {
  color: #101828 !important;
}

.custom-select__option--is-selected {
  background-color: none !important;
  color: #101828 !important;
}

.custom-select__menu {
  border-radius: 12px !important;
  overflow: hidden !important;
  box-shadow: 0 2px 6px #8d929a !important;
}

.custom-select__indicator-separator {
  display: none !important;
}
.custom-select__dropdown-indicator svg {
  fill: #101828 !important;
}
