.formFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.filter {
  margin-bottom: 56px;
  margin-top: 84px;
}

.buttonFilter {
  margin-top: 7px;
  width: 160px;
  height: 44px;
  margin-left: 16px;
  padding: 12px 51px;
  line-height: 1.25;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 12px;
  background-color: #3470ff;
  transition: background-color 0.3s ease;
}
.inputDivFrom,
.inputDivTo {
  box-sizing: border-box;
  border: 1px solid transparent;
  display: flex;
  gap: 3px;
  width: 160px;
  height: 44px;
  align-items: center;
  padding: 12px 24px;
  background-color: #f7f7f7;
  margin-top: 8px;
}
.inputDivFrom:hover,
.inputDivFrom:focus,
.inputDivTo:hover,
.inputDivTo:focus {
  border: 1px solid #8d929a;
}
.inputDivFrom {
  border-right: 1px solid #dadde1;
  border-radius: 12px 0 0 12px;
}

.inputDivTo {
  border-radius: 0 12px 12px 0;
}

.buttonFilter:hover,
.buttonFilter:focus {
  background-color: #0b44cd;
}
.fieldsetFilter {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.inputFilter {
  margin-top: 3px;
  border: none;
  font-size: 16px;
  background-color: transparent;
  width: 100%;
  font-weight: 500;
  line-height: 1.25;
  color: #101828;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 207px;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}
.legend {
  padding-top: 6px;
  width: 207px;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8d929a;
}
